{% extends "playPadel/base.html" %}

{% load static %}

{% block title %} PlayPadel - Dashboard {% endblock %}

{% block content %}

    <section class="section py-1" style="min-height: 83vh;">
        <div class="container bg-white text-black text text-center py-5">
            <h2>Dashboard cliente <strong>{{ user.username }}</strong></h2>
            <div class="row mt-4">
                <div class="col-md-6 border-right border-dark">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="row">
                                <i class="bi bi-person-lines-fill mr-3" style="font-size: 1.3rem"></i>
                                <h4>Dati utente</h4>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="{% url 'website:cliente:modifica_cliente' %}" class="btn btn-outline-dark btn-sm" role="button">Modifica informazioni</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 text-left">
                            <strong>Username: </strong> {{ user.username }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-8 text-left">
                            <strong>Nome & Cognome: </strong>{{ user.first_name }} {{ user.last_name }}
                        </div>
                        <div class="col-md-4 text-left">
                            <strong>Età: </strong> {{ user.cliente.eta }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 text-left">
                            <strong>Email: </strong> {{ user.email }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-8 text-left">
                            <strong>Data creazione account: </strong> {{ user.date_joined.date }}
                        </div>
                        <div class="col-md-4 text-left">
                            <strong>Id utente: </strong> {{ user.id }}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-8 text-left">
                            <div class="row">
                                <i class="bi bi-calendar-plus-fill mr-3" style="font-size: 1.3rem"></i>
                                <h4 class="mb-0">Prenotazioni</h4>
                            </div>
                        </div>
                        <div class="col-md-4 text-right">
                            <a href="{% url 'website:cliente:prenotazioni_cliente' %}" class="btn btn-outline-success btn-sm" role="button">Vedi tutte</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <strong>Ultima prenotazione: </strong>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 text-left">
                            <i class="bi bi-geo-alt mr-1"></i>
                            {{ prenotazioni.last.impianto.nome }} - Campo {{ prenotazioni.last.campo.id }} {{ prenotazioni.last.campo.tipologia }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6 text-left">
                            <i class="bi bi-calendar mr-1"></i>
                            {{ prenotazioni.last.data }}
                        </div>
                        <div class="col-md-6 text-left">
                            <i class="bi bi-clock mr-1"></i>
                            {{ prenotazioni.last.ora_inizio }} - {{ prenotazioni.last.ora_fine }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row ml-2">
                        <div class="col-md-12 text-left">
                            <div class="row">
                                <i class="bi bi-person-square mr-3" style="font-size: 1.3rem"></i>
                                <h4>Foto profilo</h4>
                            </div>
                        </div>
                        <div class="col-md-12 mt-2">
                            <img src="{% static 'img/profile_pics' %}/{{ user.cliente.foto }}" class="img-fluid" style="max-height: 250px" alt="Foto cliente">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <i class="bi bi-clock-history mr-3" style="font-size: 1.3rem"></i><h4>Storico partite</h4>
            </div>
            <div class="card-deck justify-content-center mt-2">
                {% for p in dati_partita %}
                    <div class="card bg-light my-3" style="min-width: 30rem; max-width: 33rem;">
                        <div class="card-header">{{ p.data }} | {{ p.ora }}</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 text-center my-auto">
                                    <h5>
                                        {% for set in p.risultato %}
                                            {{ set }} <br>
                                        {% endfor %}
                                    </h5>
                                </div>
                                <div class="col-md-2 text-center my-auto">
                                    <i class="bi bi-trophy-fill"></i>
                                </div>
                                <div class="col-md-7 text-center my-auto">
                                    {% for giocatore in p.giocatori %}
                                        {{ giocatore }}
                                        {% if forloop.counter == 1 or forloop.counter == 3 %}
                                            |
                                        {% endif %}
                                        {% if forloop.counter == 2 %}
                                            <br>&times;<br>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            {{ p.nome_impianto }} - Campo {{ p.id_campo }}
                        </div>
                    </div>
                {% empty %}
                    <h5 class="py-4 mt-4">Ancora nessuna partita giocata...</h5>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}