{% extends "playPadel/base.html" %}

{% load static %}

{% block title %} PlayPadel - Dashboard {% endblock %}

{% block content %}

    <div class="modal fade" id="ModalConferma" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Attenzione!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Stai per eliminare una <strong>prenotazione effettuata da un cliente!</strong><br>Sei sicuro di voler continuare?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                    <a href="{% url 'website:homepage' %}" role="button" class="btn btn-primary">Continua</a>
                </div>
            </div>
        </div>
    </div>

    <section class="section py-1" style="min-height: 83vh;">
        <div class="container bg-white text-black text text-center py-5">
            <h2>Dashboard gestore <strong>{{ user.username }}</strong></h2>
            <div class="row mt-4">
                <div class="col-md-6 border-right border-dark">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="row">
                                <i class="bi bi-person-lines-fill mr-3" style="font-size: 1.3rem"></i>
                                <h4>Dati utente</h4>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="{% url 'website:gestore:modifica_gestore' %}" class="btn btn-outline-dark btn-sm" role="button">Modifica informazioni</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-8 text-left">
                            <strong>Username: </strong> {{ user.username }}
                        </div>
                        <div class="col-md-4 text-left">
                            <strong>Id utente: </strong> {{ user.id }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 text-left">
                            <strong>Nome & Cognome: </strong>{{ user.first_name }} {{ user.last_name }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 text-left">
                            <strong>Email: </strong> {{ user.email }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 text-left">
                            <strong>Data creazione account: </strong> {{ user.date_joined.date }}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-8 text-left">
                            <div class="row">
                                <i class="bi bi-gear-fill mr-3" style="font-size: 1.3rem"></i>
                                <h4 class="mb-0">Impianto</h4>
                            </div>
                        </div>
                        <div class="col-md-4 text-right">
                            <a href="{% url 'website:gestore:modifica_impianto_gestore' %}" class="btn btn-outline-info btn-sm" role="button">Modifica Impianto</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 text-left">
                            <i class="bi bi-geo-alt mr-1"></i>
                            {{ impianto.nome }} - {{ impianto.posizione }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4 text-left">
                            <strong>Numero campi:</strong> {{ impianto.numero_campi }}
                        </div>
                        <div class="col-md-4 text-left">
                            <strong>Orari:</strong> {{ impianto.orari }}
                        </div>
                        <div class="col-md-4 text-left">
                            <strong>Prezzi</strong> {{ impianto.prezzi }}€ l'ora
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 text-left">
                            <i class="bi bi-chat-right mr-1"></i>
                            {{ impianto.contatti }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 text-left">
                            <i class="bi bi-info-circle mr-1"></i>
                            {{ impianto.caratteristiche }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item w-50">
                            <a class="nav-link active text-dark" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">
                                <div class="row mx-auto">
                                    <i class="bi bi-person-square mr-3" style="font-size: 1.2rem"></i>
                                    <h5>Foto profilo</h5>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item w-50">
                            <a class="nav-link text-dark" id="impianto-tab" data-toggle="tab" href="#impianto" role="tab" aria-controls="impianto" aria-selected="false">
                                <div class="row mx-auto">
                                    <i class="bi bi-image mr-3" style="font-size: 1.2rem"></i>
                                    <h5>Foto impianto</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4" id="myTabContent">
                        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <img src="{% static 'img' %}/{{ user.foto }}" class="img-fluid" style="max-height: 250px" alt="Foto gestore">
                        </div>
                        <div class="tab-pane fade" id="impianto" role="tabpanel" aria-labelledby="impianto-tab">
                            <img src="{% static 'img' %}/{{ impianto.foto }}" class="img-fluid" style="max-height: 250px" alt="Foto impianto">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <i class="bi bi-newspaper mr-3" style="font-size: 1.3rem"></i><h4>News Impianto</h4>
                <div class="col-md-12 mt-2">
                    <ul class="list-group list-group-flush">
                        {% for n in news %}
                            <li class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><strong>Titolo: </strong>{{ n.titolo }}</h5>
                                    <div>
                                        <a class="btn btn-outline-info btn-sm " role="button" data-placement="top" id="{{ n.id }}" data-target="tooltip" title="Modifica news">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a class="btn btn-outline-danger btn-sm " role="button" data-placement="top" id="{{ n.id }}" data-target="tooltip" title="Cancella news">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                <p class="mb-1 text-left">
                                    <strong>Descrizione:</strong>
                                    {{ n.descrizione }}
                                </p>
                                <small class="text-muted">{{ n.data }}</small>
                            </li>
                        {% empty %}
                            <h5 class="py-4 mt-4 text-center">Nessuna news pubblicata...</h5>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <hr class="hr" />
            <div class="row mt-4">
                <i class="bi bi-calendar3 mr-3" style="font-size: 1.3rem"></i>
                <h4 class="mb-0">Prenotazioni clienti</h4>
                {% if prenotazioni_clienti %}
                    <span class="badge badge-primary ml-3 my-auto">{{ prenotazioni_clienti.count }}</span>
                {% else %}
                    <span class="badge badge-primary ml-3 my-auto">0</span>
                {% endif %}
                <div class="col-md-12 mt-2">
                    <ul class="list-group list-group-flush">
                        {% for p in prenotazioni_clienti %}
                            <li class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ p.data }} | {{ p.ora_inizio }} - {{ p.ora_fine }}</h5>
                                    <button class="btn btn-outline-danger btn-sm " data-toggle="modal" data-placement="top" id="{{ p.id }}" data-target="#ModalConferma" title="Cancella prenotazione">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                                <p class="mb-1 text-left">
                                    <strong>Impianto: </strong>{{ p.impianto.nome }} - Campo {{ p.campo.numero }} {{ p.campo.tipologia }}<br>
                                    <strong>Username cliente: </strong>{{ p.cliente.username }}
                                </p>
                                <small><strong>ID prenotazione: </strong>{{ p.id }}</small>
                            </li>
                        {% empty %}
                            <h5 class="py-4 mt-4 text-center">Nessuna prenotazione futura effettuata dai clienti...</h5>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}