{% extends "playPadel/base.html" %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %} PlayPadel - Modifica impianto {% endblock %}

{% block content %}

    <section class="section py-1" style="min-height: 83vh;">
        <div class="container bg-white text-black text text-center py-5">
            <div class="row align-items-center">
                {% if pre_url == dashboard_url or pre_url == m_impianto_url %}
                    <div class="col-md-2 text-left">
                        <a href="{% url 'website:gestore:dashboard_gestore' %}" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Torna alla dashboard">
                            <i class="bi bi-arrow-left mr-2"></i>Dashboard
                        </a>
                    </div>
                {% else %}
                    <div class="col-md-2"></div>
                {% endif %}
                <div class="col-md-8 text-center">
                    <h2>Modifica dati impianto</h2>
                </div>
                <div class="col-md-2"></div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mt-2">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ impianto_form.nome|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ impianto_form.posizione|as_crispy_field }}
                        </div>
                </div>
                <div class="row">
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ impianto_form.orari|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="prezzi">Costo all'ora*</label>
                            {{ impianto_form.prezzi }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ impianto_form.contatti|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ impianto_form.numero_campi|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ impianto_form.caratteristiche|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ impianto_form.foto|as_crispy_field }}
                        </div>
                    </div>
                </div>


                <h3 class="mb-3">Modifica campi</h3>
                {{ campo_formset.management_form }}
                {% for form in campo_formset %}
                    <div class="form-row form-inline justify-content-between">
                        {{ form.as_p }}
                    </div>
                    <hr class="hr" />
                {% endfor %}

                <button type="submit" class="btn btn-primary">Salva Modifiche</button>
            </form>
        </div>
    </section>

{% endblock %}