{% load static %}
<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %} </title>
        <link rel="icon" href="{% static '/img/favicon.ico' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body class="position-relative">

        <header class="bg-dark py-3 border-bottom border-secondary">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <img src="{% static '/img/favicon.svg'%}" alt="Logo" class="mr-3" style="height: 30px; width: 30px;">
                    <h1 class="text-light h3 mb-0 me-4">PlayPadel</h1>
                    <span class="border-end mx-3" style="height: 24px;"></span>
                    <nav>
                        <ul class="list-unstyled d-flex mb-0">
                            <li class="me-4"><a href="{% url 'website:homepage' %}" class="text-light text-decoration-none">Home</a></li>
                            <li><a href="{% url 'website:impianti' %}" class="text-light m-4 text-decoration-none">Impianti</a></li>
                            <li><a href="{% url 'website:prenota' %}" class="text-light text-decoration-none">Prenota</a></li>
                        </ul>
                    </nav>
                </div>
                <div>
                    {% if user.is_authenticated %}
                        <p class="pt-3 mr-2">Accesso effettuato come <strong>{{ user.username }}</strong> <a href="{% url 'logout' %}" class="ml-2">Esci</a></p>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-outline-light mr-2" role="button">Accedi</a>
                        <a href="{% url 'registrati' %}" class="btn btn-primary" role="button">Iscriviti</a>
                    {% endif %}
                </div>
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <footer class="bg-dark py-4 border-top border-secondary position-absolute mb-0 w-100">
            <div class="container text-center text-light">
                <p class="mb-0">
                    <a href="#" class="text-light text-decoration-none">Chi siamo</a>
                    |
                    <a href="#" class="text-light text-decoration-none">Contatti</a>
                    |
                    <a href="#" class="text-light text-decoration-none">Privacy Policy</a>
                    |
                    <a href="#" class="text-light text-decoration-none">Termini di Servizio</a>
                </p>
                <p class="text-light mb-0">© 2024 PlayPadel. Tutti i diritti riservati.</p>
            </div>
        </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>