{% extends "playPadel/base.html" %}

{% load static %}

{% block title %} PlayPadel - Impianti {% endblock %}

{% block content %}

    <section class="section py-1" style="min-height: 83vh;">
        <div class="container bg-white text-black text text-center py-5">
            <h2>Lista di Impianti disponibili</h2>
            {% include 'website/search_template.html' %}
            <div class="card-deck justify-content-center">
                {% for impianto in object_list %}
                    <div class="card my-3" style="min-width: 21rem; max-width: 21rem;">
                        <img class="card-img-top" src="{% static 'img/media' %}/{{ impianto.foto }}" alt="Foto impianto" style="max-height: 15rem; min-height:15rem; opacity: 0.9;  object-fit: cover; object-position: center">
                        <div class="card-body">
                            <h5 class="card-title">{{ impianto.nome }}</h5>
                            <p class="card-text">{{ impianto.posizione }}</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ impianto.numero_campi }} campi</li>
                                <li class="list-group-item">A partire da {{ impianto.prezzi }}€ l'ora</li>
                            </ul>
                            <div class="card-body">
                                <a href="{% url 'website:impianto_detail' slug=impianto.slug %}" class="card-link btn btn-outline-primary w-100" role="button">Dettagli</a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <h5 class="my-2">Non c'è ancora nulla qui...</h5>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}