{% extends "playPadel/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '/css/impianto_detail_style.css' %}">
{% endblock %}

{% block title %} PlayPadel - {{ object.nome }} {% endblock %}

{% block content %}

    <section class="section py-1" style="min-height: 83vh;">
        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-2 text-left">
                    <a href="{% url 'website:impianti' %}" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Torna alla lista degli impianti">
                        <i class="bi bi-arrow-left"></i>
                    </a>
                </div>
                <div class="col-md-8 text-center">
                    <h1 class="display-4 mb-0">Impianto {{ object.nome }}</h1>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="bi bi-geo-alt-fill"></i>
                            <strong>Posizione:</strong> {{ object.posizione }}
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-clock-fill"></i>
                            <strong>Orari di apertura:</strong> {{ object.orari }}
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-cash"></i>
                            <strong>Prezzi:</strong> A partire da {{ object.prezzi }}€ l'ora
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-telephone-fill"></i>
                            <strong>Contatti:</strong> {{ object.contatti }}
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-info-circle-fill"></i>
                            <strong>Servizi offerti:</strong> {{ object.caratteristiche }}
                        </li>
                        <li class="list-group-item">
                            <div>
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-person-badge-fill"></i>
                                    <h5 class="ml-3 mt-2">Informazioni sul gestore dell'impianto</h5>
                                </div>
                                <div class="d-flex align-items-center mt-3">
                                    <img src="{% static 'img/profile_pics' %}/{{ object.gestore.foto }}" class="rounded-circle ml-3 border border-info" alt="Foto del gestore" style="width: 100px; height: 100px;">
                                    <p class="ml-5 mb-0"><strong>{{ object.gestore.user.first_name }} {{ object.gestore.user.last_name }}</strong></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 text-center">
                    <img src="{% static 'img/media' %}/{{ object.foto }}" class="img-fluid rounded" alt="Foto dell'impianto">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col text-center">
                    <h2 id="lista_campi">Lista campi</h2>
                </div>
            </div>
            <div id="accordion">
                {% for i in campo %}
                    <div class="card bg-transparent my-2" style="border: 1px solid #ddd;">
                        <a class="card-header bg-transparent" style="cursor: pointer" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false">
                            <span class="title" style="font-size: 17px; color: #000">Campo {{ forloop.counter }} - {{ i.tipologia }}</span>
                            <span class="accicon float-right" style="font-size: 20px; width: 1.2em;"><i class="bi bi-chevron-up"></i></span>
                        </a>
                        <div id="collapse{{ forloop.counter }}" class="collapse hidden" data-parent="#accordion">
                            <div class="card-body" style="border-top: 1px solid #ddd;">
                                <div class="btn-group-toggle" data-toggle="buttons">
                                    {% for ora in ore %}
                                        <label class="btn btn-outline-primary inactive my-1" style="min-width: 70px;">
                                            <input type="checkbox" checked autocomplete="off"> {{ ora }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row align-items-center my-4">
                <div class="col-md-4 text-left">
                    <a href="" class="btn btn-outline-danger" onclick="$().button('toggle')">
                        <i class="bi bi-x"></i> Annulla selezione
                    </a>
                </div>
                <div class="col-md-4 text-right">
                    <h5>Totale: </h5>
                </div>
                <div class="col-md-4 text-right">
                    <a href="{% url 'website:conferma_prenotazione' %}" class="btn btn-outline-success">
                        <strong>Prenota </strong><i class="bi bi-calendar2-check"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
