<form action="{% url 'website:website:cerca_impianto' %}" method="get" class="form-group my-2 needs-validation">
    <div class="row mt-4">
        <div class="col-md-2 mt-2">
            <strong>Cerca impianto:</strong>
        </div>
        <div class="col-md-4 form-inline">
            <label for="cercaNomeImpianto" class="ml-4"><strong>Nome</strong></label>
            <input class='form-control ml-2 w-50' id="cercaNomeImpianto" name="name" type="search" aria-label="Cerca" value="{{ request.GET.name }}">
        </div>
        <div class="col-md-4 form-inline">
            <label for="cercaPosizioneImpianto"><strong>Luogo</strong></label>
            <input class='form-control ml-2 w-50' id="cercaPosizioneImpianto" name="pos" type="search" aria-label="Cerca" value="{{ request.GET.pos }}">
        </div>
        <div class="col-md-1 text-right">
            <button class="btn btn-outline-primary mr-4" type="button" data-toggle="collapse" data-target="#filterCollapse" aria-expanded="false" aria-controls="collapseExample">
                <i class="bi bi-magic mr-1"></i>Filtra
            </button>
        </div>
        <div class="col-md-1 text-left">
        <button class="btn btn-success my-2 my-sm-0 mr-2" type="submit"><i class="bi bi-search"></i></button>
    </div>
    </div>
    <div class="row mt-2 collapse mx-4" id="filterCollapse">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 form-inline border-right border-dark mr-2 pb-3">
                    <label for="minNumCampi"><strong>Numero minimo campi: </strong><span id="minNumCampiValue" class="ml-2">1</span></label>
                    <input type="range" class="form-control-range is-valid" id="minNumCampi" name="mnc" value="{{ request.GET.mnc|default:1 }}" min="1" max="10">
                    <script>
                        // Script per aggiornare il valore del minimo numero di campi
                        const inputMinNumCampi = document.getElementById('minNumCampi');
                        const inputMinNumCampiValue = document.getElementById('minNumCampiValue');
                        function updateMinNumCampiValue() {
                            inputMinNumCampiValue.innerText = inputMinNumCampi.value;
                        }
                        inputMinNumCampi.addEventListener('input', updateMinNumCampiValue);
                        window.addEventListener("load", updateMinNumCampiValue);
                    </script>
                    <label for="prezzoMax"><strong>Prezzo orario massimo: </strong><span id="prezzoMaxValue" class="ml-2">10</span>€</label>
                    <input type="range" class="form-control-range is-valid" id="prezzoMax" name="pm" value="{{ request.GET.pm|default:50 }}" min="10" max="50">
                    <script>
                        // Script per aggiornare il valore del prezzo massimo
                        const inputPrezzoMax = document.getElementById('prezzoMax');
                        const inputPrezzoMaxValue = document.getElementById('prezzoMaxValue');
                        function updatePrezzoMaxValue() {
                            inputPrezzoMaxValue.innerText = inputPrezzoMax.value;
                        }
                        inputPrezzoMax.addEventListener('input', updatePrezzoMaxValue);
                        window.addEventListener("load", updatePrezzoMaxValue);
                    </script>
                </div>
                <div class="col-md-7 form-group ml-2 mb-0">
                    <strong class="float-left">Filtra caratteristiche</strong>
                    <div class="row ml-3">
                        <div class="row form-check-inline mt-2 w-100">
                            <label for="tipoCampi" class="mr-4 mb-0">Tipologia campi:</label>
                            <div class="custom-control custom-checkbox mr-2">
                                <input class="custom-control-input" type="checkbox" name="out" id="outdoor" {% if request.GET.out == 'on' %}checked{% endif %}>
                                <label class="custom-control-label" for="outdoor">Outdoor</label>
                            </div>
                            <div class="custom-control custom-checkbox ml-2">
                                <input class="custom-control-input" type="checkbox" name="ind" id="indoor" {% if request.GET.ind == 'on' %}checked{% endif %}>
                                <label class="custom-control-label" for="indoor">Indoor</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <label for="serviziImpianto" class="text-left mb-0">Servizi impianto:</label>
                        </div>
                        <div class="row form-check-inline mt-1">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" name="ccNoleggio" id="serviziNoleggio" {% if request.GET.ccNoleggio == 'on' %}checked{% endif %}>
                                <label class="custom-control-label" for="serviziNoleggio">Noleggio</label>
                            </div>
                            <div class="custom-control custom-checkbox ml-2">
                                <input class="custom-control-input" type="checkbox" name="ccSpogliatoi" id="serviziSpogliatoi" {% if request.GET.ccSpogliatoi == 'on' %}checked{% endif %}>
                                <label class="custom-control-label" for="serviziSpogliatoi">Spogliatoi</label>
                            </div>
                            <div class="custom-control custom-checkbox ml-2">
                                <input class="custom-control-input" type="checkbox" name="ccDocce" id="serviziDocce" {% if request.GET.ccDocce == 'on' %}checked{% endif %}>
                                <label class="custom-control-label" for="serviziDocce">Docce</label>
                            </div>
                            <div class="custom-control custom-checkbox ml-2">
                                <input class="custom-control-input" type="checkbox" name="ccBar" id="serviziBar" {% if request.GET.ccBar == 'on' %}checked{% endif %}>
                                <label class="custom-control-label" for="serviziBar">Bar</label>
                            </div>
                            <div class="custom-control custom-checkbox ml-2">
                                <input class="custom-control-input" type="checkbox" name="ccParcheggio" id="serviziParcheggio" {% if request.GET.ccParcheggio == 'on' %}checked{% endif %}>
                                <label class="custom-control-label" for="serviziParcheggio">Parcheggio</label>
                            </div>
                            <div class="custom-control custom-checkbox ml-2">
                                <input class="custom-control-input" type="checkbox" name="ccAltro" id="serviziAltro" {% if request.GET.ccAltro == 'on' %}checked{% endif %}>
                                <label class="custom-control-label" for="serviziAltro">Altro</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<hr class="hr" />